*
{
    font-family: 'SF Pro Display Medium', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.icon
{
    width: 20%;
    display: block;
    margin: 32px auto 0;
}

.gradient-hot
{
    background: linear-gradient(to right, #F0672C 0%, #dd1e83 100%);
}

.gradient-cold
{
    background: linear-gradient(to right, #1EA3C8 0%, #4db6b2 100%);
}

.text
{
    text-align: center;
    margin-top: 48px;
    line-height: 28px;
    letter-spacing: 0.25px;
    user-select: none;
}

.text > span
{
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.flex-container
{
    display: inline-flex;
    width: 100%;
    margin-top: 32px;
}

.links
{
    margin: 0 auto;

    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.links > a
{
    border-bottom: 1px dotted #71777b;
}

.links > a:not(:last-child)
{
    margin-right: 16px;
}